[user]
name = Alexandre Leroux
email = 8794280+nleof@users.noreply.github.com

[branch]
autosetupmerge = true
autosetuprebase = always

[core]
editor = vi

[alias]
st = status
ci = commit
br = branch
co = checkout
df = diff
dc = diff --cached
lg = log -p
lol = log --graph --decorate --pretty=oneline --abbrev-commit
lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
ls = ls-files

[url "ssh://git@github.com/nleof"]
insteadOf = https://github.com/nleof

[url "ssh://git@gitlab.infra.online.net"]
insteadOf = https://gitlab.infra.online.net

[includeIf "gitdir:~/dev/scaleway/"]
path = .gitconfig-scaleway
