[user]
name = Alexandre Leroux
email = alexandre@yawp.fr
signingkey = /home/nleof/.ssh/id_rsa

[branch]
autosetupmerge = true
autosetuprebase = always

[core]
editor = vi
pager = delta

[pull]
rebase = true

[push]
autoSetupRemote = true

[commit]
gpgsign = true

[gpg]
format = ssh

[alias]
st = status
co = checkout
df = diff
ds = diff --staged
lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
ls = ls-files

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true
light = true
side-by-side = true
hunk-header-style = omit

[merge]
conflictstyle = diff3

[diff]
colorMoved = default

[url "ssh://git@github.com/nleof"]
insteadOf = https://github.com/nleof

[url "ssh://git@github.com/360Learning"]
insteadOf = https://github.com/360Learning

[includeIf "gitdir:~/dev/github/"]
path = .gitconfig-github

[includeIf "gitdir:~/dev/360/"]
path = .gitconfig-360
