export EDITOR=vim

export LOCALBIN="$HOME/.local/bin:$HOME/bin"

export GOLOCAL="/usr/local/go/bin"
export GOPATH="$HOME/go"
export GOBIN="$GOPATH/bin"

export PATH="$PATH:$LOCALBIN:$GOLOCAL:$GOBIN"

source_env_if_exists $HOME/.envrc_private
source_env_if_exists $HOME/.cargo/env
