export EDITOR=vim

export LOCALBIN="$HOME/.local/bin:$HOME/bin"

export DOOMBIN="$HOME/.config/emacs/bin"

export GOLOCAL="/usr/local/go/bin"
export GOPATH="$HOME/dev/go"
export GOBIN="$GOPATH/bin"

export CARGOBIN="/home/nleof/.cargo/bin"

export BAT_THEME="Solarized (light)"
export BAT_STYLE="changes"

export TFENV="$HOME/.tfenv/bin"
export TFENV_TERRAFORM_VERSION="min-required"

export PATH="$PATH:$TFENV:$LOCALBIN:$DOOMBIN:$GOLOCAL:$GOBIN:$CARGOBIN"

source_env_if_exists $HOME/.envrc_private
source_env_if_exists $HOME/.cargo/env
