export EDITOR=vim

export TEXBIN="/Library/TeX/texbin/"
export LOCALBIN="$HOME/.local/bin:$HOME/bin"

export GOLOCAL="/usr/local/go/bin"
export GOPATH="$HOME/go"
export GOBIN="$GOPATH/bin"

export PATH="$PATH:$GOLOCAL:$LOCALBIN:$GOBIN:$TEXBIN"

export SSH_AUTH_SOCK="/run/user/${UID}/ssh-agent.socket"
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

source_env $HOME/.envrc_private
source_env $HOME/.cargo/env
