!!
!! font
!!

Xft.autohint:  true
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hintstyle: hintfull
Xft.hinting:   true
Xft.antialias: true
Xft.dpi:       96
!xdpyinfo | grep dots
Xft.rgba:      rgb


!!
!! XTerm
!!

!XTerm*faceName:           xft:Source Code Pro:style=Medium:size=9
!XTerm*faceName:           xft:Bitstream Vera Sans Mono:size=8
!XTerm*faceName:           xft:Tewi:size=8
XTerm*faceName:           xft:Terminus:size=8
XTerm*font:               fixed
XTerm*boldFont:           fixed
XTerm*boldMode:           false
XTerm*allowBoldFonts:     false
XTerm*showBlinkAsBold:    true
XTerm*dynamicColors:      true
XTerm*utf8:               2
XTerm*locale:             true
XTerm*eightBitInput:      true
XTerm*saveLines:          512
XTerm*scrollTtyOutput:    false
XTerm*scrollBar:          false
XTerm*jumpScroll:         true
XTerm*multiScroll:        true
XTerm*fastScroll:         true
XTerm*toolBar:            false
XTerm*termName:           xterm-256color
XTerm*borderWidth:        0
XTerm*metaSendsEscape:    true
XTerm*highlightSelection: true
XTerm*scrollKey:          true
XTerm*sessionMgt:         false
XTerm*cursorBlink:        true
!! Select url, alt+click => firefox
XTerm*charClass:          33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
*VT100*translations:      #override Meta <Btn1Up>: exec-formatted("firefox '%t'", PRIMARY)

!!
!! colors
!!

! glade
XTerm*foreground:   #ffffff
XTerm*background:   #222222
! black
XTerm*color0:       #101010
XTerm*color8:       #404040
! red
XTerm*color1:       #E84F4F
XTerm*color9:       #D23D3D
! green
XTerm*color2:       #B8D68C
XTerm*color10:      #A0CF5D
! yellow
XTerm*color3:       #E1AA5D
XTerm*color11:      #F39D21
! blue
XTerm*color4:       #7DC1CF
XTerm*color12:      #4E9FB1
! magenta
XTerm*color5:       #9B64FB
XTerm*color13:      #8542FF
! cyan
XTerm*color6:       #6D878D
XTerm*color14:      #42717B
! white
XTerm*color7:       #dddddd
XTerm*color15:      #dddddd
